<!-- var_t: text  var_e: element-->
<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CatHub | 云吸猫 云养猫</title>
    <link href="https://cdn.bootcss.com/materialize/0.100.2/css/materialize.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css" rel="stylesheet">
    <link href="{% static 'image/css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="{% static 'image/img/logo.svg' %}"/></a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="#">猫图</a></li>
          <li><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="正在建设中">猫片</a></li>
          <li><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="正在建设中">热榜</a></li>
          <li><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="正在建设中">名猫</a></li>
          <li><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="正在建设中">直播</a></li>
          <li><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="正在建设中">猫币</a></li>
          <li><a href="#" class="dropdown-button" data-activates='more' data-beloworigin="true" data-hover="true">更多</a></li>
          <li><a class="modal-trigger" href="#setting"><i class="material-icons">settings</i></a></li>
        </ul>
        
        <ul id="more" class="dropdown-content">
          <li><a href="{% url 'recycle' %}">回收站</a></li>
          <li><a class="waves-effect modal-trigger" href="#terms">条款</a></li>
          <li><a class="waves-effect modal-trigger" href="#about">关于</a></li>
        </ul>


        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">猫图</a></li>
          <li><a href="#">猫片</a></li>
          <li><a href="#">热榜</a></li>
          <li><a href="#">名猫</a></li>
          <li><a href="#">直播</a></li>
          <li><a href="#">猫币</a></li>
          <li><a class="modal-trigger" href="#setting"><i class="material-icons">settings</i></a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <!--TERMS MODAL-->
    <div id="terms" class="modal modal-fixed-footer">
      <div class="modal-content">
        {% include 'image/terms.html' %}
        <p>
        <input type="checkbox" id="accept-terms-checkbox" class='filled-in'/>
        <label for="accept-terms-checkbox">我已阅读并同意本协议。</label>
        </p>
      </div>
      <div class="modal-footer">
        <a class="disabled modal-action modal-close waves-effect waves-green btn-flat accept-terms">同意</a>
        <a href="https://www.bing.com/" class="modal-action modal-close waves-effect waves-green btn-flat">不同意</a>
      </div>
    </div>

    <!--SETTING MODAL-->
    <div id="setting" class="modal">
      <div class="modal-content">
        <h4>设置<span class="right modal-close"><i class="material-icons">close</i></span></h4>
        <div class="row">
          <div class="col s2">
            <p>语言设置</p>
          </div>
          <div class="input-field col s10">
            <select id="language">
              <option value="" disabled selected>请选择你的语言 / Please select your language</option>
              <option value="zh-hans" data-icon="https://cdn1.iconfinder.com/data/icons/flags-of-the-world-2/128/china-circle-512.png">大陆简体</option>
              <option value="zh-hans" data-icon="https://cdn1.iconfinder.com/data/icons/asia-country-flags/103/HONGKONG-512.png">香港繁體</option>
              <option value="zh-hant" data-icon="https://cdn3.iconfinder.com/data/icons/50-flags-of-the-world-circular-shape/60/Circular_world_Flag_38-512.png">台灣正體</option>
              <option value="english" data-icon="https://cdn1.iconfinder.com/data/icons/flags-of-the-world-2/128/united-states-circle-512.png">English</option>
            </select>
          </div>
        </div>
        <div class="row hide-on-small-only">
          <div class="col s2">
            每行图片
          </div>
          <div class="col s10">
            <select id="img_per_line">
              <option value="" disabled selected>每行显示几张图片</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="6">6（高分屏）</option>
              <option value="12">12（高分屏）</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col s2">
            夜间模式
          </div>
          <div class="col s4">
            <div class=switch>
              <label>Off
                <input type="checkbox" id="night_mode">
                <span class="lever"></span>
                On</label>
            </div>
          </div>

          <div class="col s2">
            现代设计
          </div>
          <div class="col s4">
            <div class=switch>
              <label>Off
                <input type="checkbox" checked>
                <span class="lever"></span>
                On</label>
            </div>
          </div>
        </div>
        
        <div class="row" id="change_image_opacity" style="display: none">
          <div class="col s2">
            图片亮度
          </div>
          <div class="col s10">
            <p class="range-field">
              <input type="range" min="0" max="100">
            </p>
          </div>

        </div>

        <div class="row">
          <div class="col s2">
            自动翻页
          </div>
          <div class="col s4">
            <div class=switch>
              <label>Off
                <input type="checkbox">
                <span class="lever"></span>
                On</label>
            </div>
          </div>
          <div class="col s2">
            评论弹窗
          </div>
          <div class="col s4">
            <div class=switch>
              <label>Off
                <input type="checkbox">
                <span class="lever"></span>
                On</label>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="container">
      <div class="row top-level">
        {% for image in images %}
        <div class="col l4 m6 s12 adam" id="{{ image.id }}">
          <div class="card hoverable">
            <div class="card-image">
              <img class="post_image" src="{{ image.thumbnail_url }}"/>
            </div>
            <div class="card-content">
              <a class="oo_trigger">
                <div class="chip hoverable">
                  <img src="{% static 'image/img/upvote.svg'%}">
                  <span class="oo_num"> {{ image.oo_num }}</span>
                </div>
              </a>
              <a class="xx_trigger">
                <div class="chip hoverable">
                  <img src="{% static 'image/img/downvote.svg'%}">
                  <span class="xx_num"> {{ image.xx_num }}</span>
                </div>
              </a>
              <a class="comment_trigger comment_off right">
                <div class="chip activator hoverable">
                  <img class="activator" src="{% static 'image/img/comment.png'%}">
                  <span class="comment_num"> {{ image.comment_num }}</span>
                </div>
              </a>
            </div>
            <div class="card-reveal">
              <span class="card-title username">{{ image.name }}<i class="material-icons right">close</i></span>
              <span class="pub_date">{{ image.pub_date }}<a class="right original_link" target="_blank" href="">|查看原图|</a><a class="right credit_link" target="_blank" href="{{ image.credit_url }}">|来源|</a></span>
              <ul class="collection"></ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large modal-trigger" style="background-color: #f44336" href="#add_img" id="add_img_button">
          <i class="large material-icons">add</i>
        </a>
      </div>

      <div id="add_img" class="modal">
        <div class="modal-content">
          <h4 style="display: inline;">添加图片</h4>
          <span><i class="material-icons tooltipped" data-tooltip="本站仅接收有关猫的投稿（猫娘是不行的）。<br>您所提交的图片将由人工智能自动审核，<br>审核不通过的投稿将由人工二次审核，<br>请耐心等待。<br><b>图片提交后将永久存在于互联网，请谨慎提交。</b>" data-html="true" style="color: gray;">info_outline</i></span>
          <div class="divider" style="margin-top: 10px;"></div>
          <form id="add_image_form">
						{% csrf_token %}
            <div class="input-field">
              <input name="name" type="text" id="uploader_nickname">
              <label for="uploader_nickname">昵称</label>
            </div>
            <div class="input-field" >
              <input name="url" type="text" id="image_url_input">
              <label for="image_url_input">图片地址</label>
            </div>
            <div class="file-field input-field">
              <div class="btn" id="image_file_input_btn">
                <span>本地文件</span>
                <input name="file" type="file" id="image_file_input">
              </div>
              <div class="file-path-wrapper">
                <input name="filename" class="file-path validate" type="text">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat submit-img">提交</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
        </div>
      </div>



    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/materialize/0.100.2/js/materialize.js"></script>
    <script src="https://cdn.bootcss.com/masonry/4.2.1/masonry.pkgd.js"></script>

    <script>
var accept_terms = {{ accept_terms }};
var page = {{ page }};
var end = false;
var username = '{{ username }}';
var id2original = {{ id2original | safe }};
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.tooltipped').tooltip({delay: 50});
        $('#terms').modal({dismissible: false, opacity: 1});
        if(!accept_terms){
          $('#terms').modal('open');
        }
        $('#setting').modal();
        $('#add_img').modal();
        $('select').material_select();
        changeImgPerLine({{ img_per_line }});
        changeNightMode({{ night_mode }});
      });

      $('#accept-terms-checkbox').click(function(){
        if($(this).prop('checked')){
          $('a.accept-terms').removeClass('disabled');
        }
        else{
          $('a.accept-terms').addClass('disabled');
        }
      })
      $('.accept-terms').click(function(){
        $.get('{% url 'set_preference' %}', {accept_terms: true});
      });

function callMasonry(){
  $(".top-level").masonry({
    itemSelector: '.adam',
  });
}
// change still image to gif
$(document).on('click', ".post_image", function(){
  var id_t = $(this).closest("div.adam").attr("id");
  var card_image_div_e = $(this).closest("div.card-image");
  card_image_div_e.append('<img src="{% static 'image/img/preloader.gif' %}" class="preloader">');
  $(this).attr("src", id2original[id_t]).on('load', function(){
    card_image_div_e.find(".preloader").remove();
    callMasonry();
  });
});

// vote oo
$(document).on('click', ".oo_trigger", function(){ 
  var oo_num_e = $(this).closest("div.adam").find("span.oo_num");
  var image_id_t = $(this).closest("div.adam").attr("id");
  $.get('{% url 'validate_ooxx' %}', {image_id: image_id_t, attitude: 'oo'}, function(data){
    if(data == 'Success'){
      Materialize.toast('投票成功！', 4000, 'orange rounded');
      oo_num_e.text(parseInt(oo_num_e.text()) + 1);
    }
    else{
      Materialize.toast(data, 4000, 'orange rounded');
    }
  });
});

// vote xx
$(document).on('click', ".xx_trigger", function(){ 
  var xx_num_e = $(this).closest("div.adam").find("span.xx_num");
  var image_id_t = $(this).closest("div.adam").attr("id");
  $.get('{% url 'validate_ooxx' %}', {image_id: image_id_t, attitude: 'xx'}, function(data){
    if(data == 'Success'){
      Materialize.toast('投票成功！', 4000, 'orange rounded');
      xx_num_e.text(parseInt(xx_num_e.text()) + 1);
    }
    else{
      Materialize.toast(data, 4000, 'orange rounded');
    }
  });
});


// show comment
$(document).on('click', '.comment_trigger', function(){
  var image_id_t = $(this).closest("div.adam").attr("id");
  var comment_ul_e = $(this).closest("div.adam").find(".collection");
  comment_ul_e.empty();
  var tmp = comment_ul_e.parent().find("div:has(form)");
  if(tmp.length != 0){
    tmp.remove();
  }
  $.get('{% url 'get_comment' %}', {image_id: image_id_t}, function(data){
    for (var i in data){
      var comment_li_e = '<li class="collection-item avatar" id="comment_'+data[i].comment_id+'"><b class="user">'+data[i].name+'：</b><p>'+data[i].content+'</p><span>&nbsp;</span><span class="right"><a class="comment_oo_trigger">oo: </a><span class="comment_oo_num">'+data[i].oo_num+'</span>&nbsp;&nbsp;<a class="comment_xx_trigger">xx: </a><span class="comment_xx_num">'+data[i].xx_num+'</span></span></li>';
      comment_ul_e.append(comment_li_e);
    }
      var form = "\
      <div class=\"row\">\
      <form>\
    {% csrf_token %}\
      <input type=\"hidden\" name=\"image_id\" value=\"%s\">\
      <input type=\"hidden\" name=\"reply_to\" value=\"\">\
      <div class=\"input-field col s12\">\
      <input name=\"name\" id=\"commenter_name\" type=\"text\" style=\"margin-bottom: 0px;\" value=\"%s1\">\
      <label for=\"commenter_name\">昵称</label>\
      </div>\
      <div class=\"input-field col s12\">\
      <textarea name=\"content\" id=\"comment_content\" class=\"materialize-textarea\"></textarea>\
      <label for=\"comment_content\">评论</label>\
      </div>\
      <div class=\"col s6\">\
      <a class=\"cancel btn pink lighten-1\"  style=\"width: 100%\"><i class=\"material-icons\">cancel</i></a>\
      </div>\
      <div class=\"col s6\">\
      <a class=\"submit btn\"  style=\"width: 100%\"><i class=\"material-icons\">send</i></a>\
      </div>\
      </form>\
      </div>".replace("%s", image_id_t).replace('%s1', username);

    comment_ul_e.parent().append(form);
    Materialize.updateTextFields();
  });
});

// submit comment
$(document).on('click', '.submit', function(){
  var image_id_t = $(this).closest("div.adam").attr("id");
  var form_e = $('#'+image_id_t).find("form");
  var comment_num_e = $(this).closest('div.adam').find('span.comment_num');
  var this_ = $(this);
  $.post('{% url 'add_comment' %}', form_e.serialize(), function(data){
    if(data == "Success"){
      Materialize.toast('评论成功！', 4000, 'orange rounded');
      $("#"+image_id_t).find("span.card-title").click();
      $("#"+image_id_t).find("div.activator").click();
      //scrollToBottom(this_);
      comment_num_e.text(parseInt(comment_num_e.text())+1);
      var new_username = form_e.find('input[name=name]').val();
      $.get('{% url 'set_preference' %}', {'username': new_username});   // set default username
      username = new_username;
    }
    else{
      Materialize.toast(data, 4000, 'orange rounded');
    }
  });
});

// reply to user
$(document).on('click', '.user', function(){ 
  var image_id_t = $(this).closest("div.adam").attr("id");
  var comment_id_t = $(this).closest("li.avatar").attr("id").split("_").slice(-1)[0];       // reply to which comment
  var comment_name_t = $(this).parent().children('b.user').text();     // replyee's name
  var reply_to_field_e = $(this).closest("div.adam").find('input[name="reply_to"]');
  var content_field_e = $(this).closest("div.adam").find('textarea[name="content"]');
  var content_label_e = $(this).closest("div.adam").find('label[for="comment_content"]');
  reply_to_field_e.val(comment_id_t);
  content_label_e.text("回复 "+comment_name_t);
  scrollToBottom($(this));
});

// cancel comment
$(document).on('click', '.cancel', function(){ 
  var reply_to_field_e = $(this).closest("div.adam").find('input[name="reply_to"]');
  var content_label_e = $(this).closest("div.adam").find('label[for="comment_content"]');
  var content_field_e = $(this).closest("div.adam").find('textarea[name="content"]');
  reply_to_field_e.val("");
  content_label_e.text("评论");
  content_field_e.val("");
});

// vote comment oo
$(document).on('click', '.comment_oo_trigger', function(){
  var comment_id_t = $(this).closest("li.avatar").attr("id").split("_").slice(-1)[0];
  var oo_num_e = $(this).closest("li.avatar").find("span.comment_oo_num");
  $.get('{% url 'validate_comment_ooxx' %}', {comment_id: comment_id_t, attitude: 'oo'}, function(data){
    if(data == 'Success'){
      oo_num_e.text(parseInt(oo_num_e.text())+1);
      Materialize.toast('投票成功！', 4000, 'orange rounded');
    }
    else{
      Materialize.toast(data, 4000, 'orange rounded');
    }
  });
});

// vote comment xx
$(document).on('click', '.comment_xx_trigger', function(){
  var comment_id_t = $(this).closest("li.avatar").attr("id").split("_").slice(-1)[0];
  var xx_num_e = $(this).closest("li.avatar").find("span.comment_xx_num");
  $.get('{% url 'validate_comment_ooxx' %}', {comment_id: comment_id_t, attitude: 'xx'}, function(data){
    if(data == 'Success'){
      xx_num_e.text(parseInt(xx_num_e.text())+1);
      Materialize.toast('投票成功！', 4000, 'orange rounded');
    }
    else{
      Materialize.toast(data, 4000, 'orange rounded');
    }
  });
});

function scrollToBottom(element){
  var frame = element.closest("div.card-reveal");
  frame.animate({scrollTop: frame[0].scrollHeight}, "fast");
};

// show original
$(document).on('click', '.original_link', function(){
  var original_link = id2original[$(this).closest('.adam').attr('id')];
  $(this).attr('href', original_link);
});

// in add image, url and file mutex
$('#image_url_input').change(function(){
  if($('#image_url_input').val() != ''){
    $('#image_file_input').prop('disabled', true);
    $('#image_file_input_btn').addClass('disabled');
  }
  else{
    $('#image_file_input').prop('disabled', false);
    $('#image_file_input_btn').removeClass('disabled');
  }
});
$('#image_file_input').change(function(){
  if($('#image_file_input').val() != ''){
    $('#image_url_input').prop('disabled', true);
  }
  else{
    $('#image_url_input').prop('disabled', false);
  }
});

// change username in add image form
$('#add_img_button').click(function(){
  $('#uploader_nickname').val(username);
});

$('a.submit-img').click(function(){
  $('#add_image_form').submit();
});

$('#add_image_form').submit(function(evt){
  evt.preventDefault();
  var formData = new FormData($(this)[0]);
  $.ajax({
    url: '{% url 'add_image' %}',
    type: 'POST',
    data: formData,
    async: false,
    cache: false,
		contentType: false,
		enctype: 'multipart/form-data',
		processData: false,
		success: function (response) {
      Materialize.toast(response.result, 4000, 'orange rounded')
      $('#image_url_input').val('');
      $('#image_file_input').val(null);
      $('input[name=filename]').val('');
      $('#image_file_input').prop('disabled', false);
      $('#image_file_input_btn').removeClass('disabled');
      $('#image_url_input').prop('disabled', false);
      $.get('{% url 'set_preference' %}', {'username': $('#uploader_nickname').val()});   // set default username
      username = $('#uploader_nickname').val();
      if(response.image_id != -1){
        console.log('i send out verify request');
        $.get('{% url 'verify_image' %}', {'image_id': response.image_id}, function(response){
          Materialize.toast(response, 4000, 'orange rounded');
        });
      }
		}
  });
});

function changeImgPerLine(img_per_line){
  $.get('{% url 'set_preference'%}', {img_per_line: img_per_line});
  if(img_per_line == 3){
    $('div.adam').removeClass('l1 l2 l3 l4');
    $('div.adam').addClass('l4');
  }
  else if(img_per_line == 4){
    $('div.adam').removeClass('l1 l2 l3 l4');
    $('div.adam').addClass('l3');
  }
  else if(img_per_line == 6){
    $('div.adam').removeClass('l1 l2 l3 l4');
    $('div.adam').addClass('l2');
  }
  else if(img_per_line == 12){
    $('div.adam').removeClass('l1 l2 l3 l4');
    $('div.adam').addClass('l1');
  }
  callMasonry();
};

$('#img_per_line').on('change', function(){
  img_per_line = $(this).val();
  changeImgPerLine(img_per_line)
});

function changeNightMode(night_mode){
  $.get('{% url 'set_preference' %}', {night_mode: night_mode});
  if(night_mode){
    $('#night_mode').prop('checked', true);
    $('head').append("<link id='night_mode_css' href='{% static 'image/css/night_mode.css'%}' rel='stylesheet'>");
    $('#change_image_opacity').css('display', '');
  }
  else{
    $('#night_mode').prop('checked', false);
    $('#night_mode_css').remove();
    $('#change_image_opacity').css('display', 'none');
    $('#night_mode_image_opacity_css').remove();
  }
};

$('#night_mode').on('change', function(){
  changeNightMode($(this).prop('checked'));
});

// adjust image opacity
$(document).on('change', "input[type=range]", function(){
  var opacity = parseInt($("p.range-field span.thumb span.value").text()) / 100;
  $("#night_mode_image_opacity_css").remove();
  $('head').append('<style id="night_mode_image_opacity_css">img{opacity:'+opacity.toString()+'}</style>');
})

// load when scroll to bottom
$(window).scroll(function() {
  if($(window).scrollTop() + $(window).height() == $(document).height() && !end) {
    Materialize.toast('<img src="https://vignette.wikia.nocookie.net/yandere-simulator-fanon/images/3/38/Pusheen.gif/revision/latest?cb=20170323104013"><br><span>正在加载</span>', 4000, 'pink rounded');
    $('body').css('overflow', 'hidden');
    $.get('{% url 'index' %}', {'page': page+1}, function(data){
      if(data['meta']['length'] != 0){
        page += 1;
      }
      else{
        Materialize.toast('没有更多内容了', 4000, 'orange rounded');
        $('body').css('overflow', '');
        end = true;
        return;
      }
      // merge id2original
      id2original = Object.assign({}, id2original, data['id2original']);
      // add new cards
      for(i = 0; i < data['meta']['length']; i++){
        var image = data['images'][i];
        var card = $('.adam').first().clone();
        $('div.top-level').append(card).masonry('appended', card);
        $('.adam').last().attr('id', image['id']);
        $('.adam').last().find('.post_image').attr('src', image['thumbnail_url']);
        $('.adam').last().find('span.oo_num').text(image['oo_num']);
        $('.adam').last().find('span.xx_num').text(image['xx_num']);
        $('.adam').last().find('span.comment_num').text(image['comment_num']);
        $('.adam').last().find('span.username').html(image['name']+'<i class="material-icons right">close</i>');
        $('.adam').last().find('span.pub_date').html(image['pub_date']+'<a class="right original_link" target="_blank" href="">|查看原图|</a><a class="right credit_link" target="_blank" href="'+image['credit_url']+'">|来源|</a>');
      }
      setTimeout(function(){
        callMasonry();
        Materialize.Toast.removeAll();
        $('body').css('overflow', '');
      }, 500);
    });
  }
});


    </script>
  </body>
</html>
